<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />
    <link href="/ios7/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/ios7/stylesheets/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/ios7/stylesheets/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/ios7/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/ios7/jq.js" type="text/javascript"></script>
    <script src="/ios7/ui/jquery-ui.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/raphael.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/fullcalendar.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/gcal.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/datatable-editable.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/excanvas.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/masonry.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/modernizr.custom.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/select2.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/styleswitcher.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/wysiwyg.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/daterange-picker.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/date.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/morris.min.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/skycons.js" type="text/javascript"></script>
    <script src="/ios7/javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
    <!--script src="/ios7/javascripts/main.js" type="text/javascript"></script-->
    <script src="/ios7/javascripts/respond.js" type="text/javascript"></script>